In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ls

 Volume in drive C is OS(C)
 Volume Serial Number is 062C-3F75

 Directory of C:\Users\Sonu\Data Science Workshop

12/28/2016  11:43 AM    <DIR>          .
12/28/2016  11:43 AM    <DIR>          ..
12/28/2016  11:41 AM    <DIR>          .ipynb_checkpoints
12/28/2016  10:45 AM         2,209,246 Untitled.ipynb
12/28/2016  11:43 AM               848 Untitled1.ipynb
               2 File(s)      2,210,094 bytes
               3 Dir(s)   4,706,549,760 bytes free

In [4]:
ls

 Volume in drive C is OS(C)
 Volume Serial Number is 062C-3F75

 Directory of C:\Users\Sonu\Data Science Workshop

12/28/2016  11:51 AM    <DIR>          .
12/28/2016  11:51 AM    <DIR>          ..
12/28/2016  11:41 AM    <DIR>          .ipynb_checkpoints
01/29/2016  02:39 PM    <DIR>          ml-1m
12/28/2016  10:45 AM         2,209,246 Untitled.ipynb
12/28/2016  11:51 AM             2,427 Untitled1.ipynb
               2 File(s)      2,211,673 bytes
               4 Dir(s)   4,658,176,000 bytes free

In [5]:
cd ml-1m

C:\Users\Sonu\Data Science Workshop\ml-1m

In [6]:
usersDF = pd.read_csv("users.dat",sep="::")

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [7]:
usersDF.head()

   1  F  1.1  10  48067
0  2  M   56  16  70072
1  3  M   25  15  55117
2  4  M   45   7  02460
3  5  M   25  20  55455
4  6  F   50   9  55117

In [8]:
usersDF_mod=pd.read_csv("users.dat",sep="::",names=['userID','gender','age','occupation','zipcode'])

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [9]:
userDF_mod

NameError: name 'userDF_mod' is not defined

In [10]:
usersDF_mod

      userID gender  age  occupation zipcode
0          1      F    1          10   48067
1          2      M   56          16   70072
2          3      M   25          15   55117
3          4      M   45           7   02460
4          5      M   25          20   55455
5          6      F   50           9   55117
6          7      M   35           1   06810
7          8      M   25          12   11413
8          9      M   25          17   61614
9         10      F   35           1   95370
10        11      F   25           1   04093
11        12      M   25          12   32793
12        13      M   45           1   93304
13        14      M   35           0   60126
14        15      M   25           7   22903
15        16      F   35           0   20670
16        17      M   50           1   95350
17        18      F   18           3   95825
18        19      M    1          10   48073
19        20      M   25          14   55113
20        21      M   18          16   99353
21        22      M   18          15   53706
22        23      M   35           0   90049
23        24      F   25           7   10023
24        25      M   18           4   01609
25        26      M   25           7   23112
26        27      M   25          11   19130
27        28      F   25           1   14607
28        29      M   35           7   33407
29        30      F   35           7   19143
...      ...    ...  ...         ...     ...
6010    6011      M   35          15   80538
6011    6012      M   35          15   02871
6012    6013      F   25          20   32301
6013    6014      M   45           1   80634
6014    6015      F   25           9   80013
6015    6016      M   45           1   37209
6016    6017      F   35           7   21117
6017    6018      M   35           1   48906
6018    6019      M   25           0   10024
6019    6020      M   50          16   10023
6020    6021      M   25          12   08876
6021    6022      M   25          17   57006
6022    6023      M   25           0   43213
6023    6024      M   25          12   53705
6024    6025      F   25           1   32607
6025    6026      M   35           6   11210
6026    6027      M   18           4   20742
6027    6028      M   18           4   94133
6028    6029      F   25           1   23185
6029    6030      M   25          17   32618
6030    6031      F   18           0   45123
6031    6032      M   45           7   55108
6032    6033      M   50          13   78232
6033    6034      M   25          14   94117
6034    6035      F   25           1   78734
6035    6036      F   25          15   32603
6036    6037      F   45           1   76006
6037    6038      F   56           1   14706
6038    6039      F   45           0   01060
6039    6040      M   25           6   11106

[6040 rows x 5 columns]

In [11]:
moviesDF_mod=pd.read_csv("movies.dat",sep="::",names=['MovieID','Title','Genres'])

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [12]:
moviesDF_mod.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [13]:
ratingsDF_mod=pd.read_csv("ratings.dat",sep="::",names=['UserID','MovieID','Rating','Timestamp'])

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [14]:
ratingsDF_mod.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [16]:
moviesDF = pd.read_csv("movies.dat",sep="::")

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [17]:
moviesDF.head()

   1                    Toy Story (1995)   Animation|Children's|Comedy
0  2                      Jumanji (1995)  Adventure|Children's|Fantasy
1  3             Grumpier Old Men (1995)                Comedy|Romance
2  4            Waiting to Exhale (1995)                  Comedy|Drama
3  5  Father of the Bride Part II (1995)                        Comedy
4  6                         Heat (1995)         Action|Crime|Thriller

In [24]:
moviesDF_mod.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [21]:

moviesDF_splitGenre = tidy_split(moviesDF_mod,'GenreFull',sep="|")

KeyError: ['GenreFull']

moviesDF_splitGenre.head()

In [22]:
moviesDF_splitGenre.head()

NameError: name 'moviesDF_splitGenre' is not defined

In [23]:
moviesDF_splitGenre = tidy_split(moviesDF_mod,'GenreFull',sep="|")

KeyError: ['GenreFull']